<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="elements/top :: top"></div>
    <div th:replace="elements/header :: menu"></div>

    <div th:each="el : ${user}" class="container">
        <a class="mr-3">Email: <span th:text="${el.email}"/></a>
        <a th:if="${user.email == null}" th:href="@{|/user/${el.id}/email|}" class="btn btn-outline-primary">Добавить Email</a>
        <a th:if="${user.email != null}" th:href="@{|/user/${el.id}/email/delete|}" class="btn btn-outline-danger">Удалить Email</a>
    </div>
    <br>

    <div th:each="el : ${user}" class="container">
        <a class="mr-3">Telegram: <span th:text="${el.telegramuserid}"/></a>
        <a th:if="${user.telegramuserid == null}" th:href="@{|/user/${el.id}/telegram|}" class="btn btn-outline-primary">Добавить Telegram</a>
        <a th:if="${user.telegramuserid != null}" th:href="@{|/user/${el.id}/telegram/delete|}" class="btn btn-outline-danger">Удалить Telegram</a>
    </div>

    </body>
    </html>
</div>